<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPhotos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="mySidenav" class="sidenav d-flex flex-column">
        <a class="d-flex" asp-area="" asp-page="/Index">
            <img class="logo" src="~/images/logo/Logo.png" />
        </a>
        <a class="d-flex" asp-area="" asp-page="/MyPhotos/Add">
            <i class="fa fa-plus"></i>
            <span>Add Photos/Videos</span>
        </a>
        <a class="d-flex" asp-area="" asp-page="/MyPhotos/Index">
            <i class="fa fa-file-photo-o"></i>
            <span>MyPhotos</span>
        </a>
        <span class="spacer"></span>
        <a class="d-flex" href="javascript:void(0)" onclick="closeNav()">
            <i class="fa fa-close"></i>
            <span>Close navbar</span>
        </a>
    </div>

    <div class="d-flex flex-row align-items-center mt-3">
        <span class="ml-5" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;Menu</span>
        <div class="d-flex justify-content-center align-items-center w-100">
            <img class="logo" src="~/images/logo/Logo.png" />
        </div>
    </div>

    <div id="main">
        @RenderBody()
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
